<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Welcome to the Quiz app</h1>

    <main th:if="${currentQuestion != null}">
        <form method = "post" action="/submit">
            <p>Question <span th:text="${question + 1}"></span> /
                <span th:text=${"allQuestions"}></span></p>

        <p th:text="${currentQuestion.questionText}"></p>

            <ol type="A">
                <li th:each="option, optStat : ${currentQuestion.options}">
                    <input type="radio"
                           th:id="'opt' + ${optStat.index}"
                           th:name="'answer' + ${question}"
                           th:value="${optStat.index}">
                    <label th:for="'opt' + ${optStat.index}" th:text="${option}"></label>
                </li>
            </ol>

            <div>
                <a th:if="${question > 0}" th:href="@{/home(question=${question - 1})}">Previous</a>
                <a th:if="${question + 1 < allQuestions}" th:href="@{/home(question=${question + 1})}">Next</a>
                <button type="submit" th:if="${question + 1 == allQuestions}">Submit Quiz</button>
            </div>
        </form>
    </main>
</body>
</html>