<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Quiz app</h1>

    <main th:if="${questions != null}">
        <form method = "post" action="/home">
        <ol>
            <li th:each="question, iterStat : ${questions}">
                <p th:text="${question.questionText}"></p>
                <ol>
                    <li th:each="option, optStat : ${question.options}">
                        <input type="radio" th:id="'opt' + ${optStat.index}"
                            th:name="'answer' + ${iterStat.index}"
                        th:value="${optStat.index}">
                        <label th:for="'opt' + ${optStat.index}" th:text="${option}"></label>
                    </li>
                </ol>
            </li>
        </ol>
            <button type="submit">Submit</button>
            <a href="/home">Retake Quiz</a>
        </form>
    </main>

    <main th:if="${questions == null}">
        <p>No questions available</p>
    </main>

</body>
</html>